<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- 레이아웃에 이 페이지의 본문(content) 프래그먼트를 주입 -->
<th:block th:replace="~{component/commonHead :: layout(~{::content})}">
    <th:block th:fragment="content">

        <section class="section">
            <div class="section-header">
                <div class="title-wrap">
                    <h3 class="section-title">지급금신청내역관리</h3>
                </div>

                <div class="box-wrap">
                    <div class="box">
                        <p class="field-title">서비스 선택</p>
                        <th:block th:replace="~{common/fragment/dropdowns :: cascadingDropdown(
                                'svcPair1','tpwSvcId','tpwSvcTypId'
                            )}"></th:block>
                    </div>
                </div>
                <div class="box-wrap">
                    <div class="box">
                        <p class="field-title">정산일자</p>
                        <div class="text-field datepicker">
                            <input type="text" class="dp-input" placeholder="YYYY-MM-DD"
                                   name="startDate" value="${startDate}"
                            >
                            <button type="button" class="dp-btn" data-dp-toggle></button>
                        </div>
                    </div>
                    <div class="box">
                        <p class="field-title">회원ID</p>
                        <input type="text" class="dp-input text-field">
                    </div>
                    <div class="box">
                        <p class="field-title">승인상태</p>
                        <div class="dropdown is-placeholder" data-name="state">
                            <button type="button" class="dropdown_button" aria-haspopup="listbox" aria-expanded="false" aria-label="변경유형 드롭다운">
                                <span class="dropdown_value" data-placeholder="선택하세요">선택하세요</span>
                            </button>
                            <ul class="dropdown_list" role="listbox" tabindex="-1">
                                <li role="option" class="dropdown_option" data-value="amount">Y</li>
                                <li role="option" class="dropdown_option" data-value="number">N</li>
                            </ul>
                            <input type="hidden" name="state" value="">
                        </div>
                    </div>
                </div>

                <div class="btn-wrap">
                    <button type="button" class="btn btn-primary">검색</button>
                </div>
            </div>

            <div class="section-content">
                <div class="flex justify-space-between">
                    <b>검색결과: 10건</b>
                    <div class="flex col-">
                        <button type="button" class="btn btn-primary btn-icon-left">
                            엑셀 다운로드 <i class="icon icon-save"></i>
                        </button>
                        <button type="button" class="btn btn-dark-line">목록</button>
                    </div>
                </div>

                <div class="table-wrap mt20">
                    <table class="table">
                        <caption class="blind">지급금신청내역관리 테이블</caption>
                        <colgroup>
                            <col width="80px">
                            <col width="150px">
                            <col width="200px">
                            <col width="150px">
                            <col width="150px">
                            <col width="80px">
                            <col width="150px">
                            <col width="80px">
                            <col width="150px">
                            <col width="200px">
                            <col width="150px">
                            <col width="150px">
                            <col width="80px">
                            <col width="150px">
                            <col width="300px">
                            <col width="150px">
                        </colgroup>
                        <thead>
                        <tr>
                            <!--<th class="sort-header" scope="col"><a data-sort="tpw_svc_id">서비스 ID</a></th> -->
                            <th>
                                <div class="control checkbox">
                                    <input type="checkbox" id="cb0">
                                    <label for="cb0"></label>
                                </div>
                            </th>
                            <th scope="col">서비스유형명</th>
                            <th scope="col">정산일자</th>
                            <th scope="col">회원ID</th>
                            <th scope="col">신청일자</th>
                            <th scope="col">카드번호</th>
                            <th scope="col">은행명</th>
                            <th scope="col">계좌번호</th>
                            <th scope="col">예금주명</th>
                            <th scope="col">승인자ID</th>
                            <th scope="col">승인일시</th>
                            <th scope="col">승인상태</th>
                            <th scope="col">승인하기</th>
                            <th scope="col">지원 대상 유형</th>
                            <th scope="col">첨부파일관리번호(링크 미리보기)</th>
                            <th scope="col">신청진행상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>1</td>
                            <td>3</td>
                            <td>
                                <button type="button" class="btn ">승인하기</button>
                            </td>
                            <td>4</td>
                            <td>5</td>
                            <td>5</td>
                        </tr>
                        <!-- ... -->
                        </tbody>
                    </table>
                </div>




                <div class="mt20">
                    <div class="pagination" role="navigation" aria-label="목록 페이지 이동">
                        <button type="button" class="pager-btn prev" aria-label="이전 페이지">Prev</button>
                        <div class="pager-list">
                            <button type="button" class="pager-item is-active" aria-current="page">1</button>
                            <button type="button" class="pager-item">2</button>
                            <button type="button" class="pager-item">3</button>
                            <button type="button" class="pager-item">4</button>
                            <button type="button" class="pager-item">5</button>
                        </div>
                        <button type="button" class="pager-btn next" aria-label="다음 페이지">Next</button>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="title-wrap"><h3 class="section-title">신청현황</h3></div>

                <!-- 일별 -->
                <div class="table-wrap mt20">
                    <table class="table">
                        <caption class="blind">신청현황 테이블</caption>
                        <colgroup>
                            <col width="160px"><col width="100px" span="30">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">일</th>
                            <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td>
                            <td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td>
                            <td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td>
                        </tr>
                        <tr>
                            <th scope="row">신청자 수</th>
                            <td>45</td><td>34</td><td>22</td><td>35</td><td>12</td><td>24</td><td>26</td><td>3</td><td>9</td>
                            <td>12</td><td>32</td><td>11</td><td>20</td><td>56</td><td>22</td><td>16</td><td>2</td><td>18</td><td>0</td>
                            <td>30</td><td>12</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- 월별 -->
                <div class="table-wrap mt20">
                    <table class="table">
                        <caption class="blind">신청현황 테이블</caption>
                        <colgroup>
                            <col width="160px"><col width="100px" span="30">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">일</th>
                            <td>2023-07</td><td>2023-08</td><td>2023-09</td><td>2023-10</td><td>2023-11</td><td>2023-12</td>
                            <td>2024-01</td><td>2024-02</td><td>2024-03</td><td>2024-04</td><td>2024-05</td><td>2024-06</td>
                            <td>2024-07</td><td>2024-08</td><td>2024-09</td><td>2024-10</td><td>2024-11</td><td>2024-12</td>
                            <td>2025-01</td><td>2025-02</td><td>2025-03</td><td>2025-04</td><td>2025-05</td><td>2025-06</td>
                            <td>2025-07</td><td>2025-08</td><td>2025-09</td><td>2025-10</td><td>2025-11</td><td>2025-12</td>
                        </tr>
                        <tr>
                            <th scope="row">신청자 수</th>
                            <td>45</td><td>34</td><td>22</td><td>35</td><td>12</td><td>24</td><td>26</td><td>3</td><td>9</td>
                            <td>12</td><td>32</td><td>11</td><td>20</td><td>56</td><td>22</td><td>16</td><td>2</td><td>18</td><td>0</td>
                            <td>30</td><td>12</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </section>

        <!-- 공통 푸터 -->
        <th:block th:replace="~{component/commonFooter :: commonFooter}"></th:block>

    </th:block>
</th:block>
</html>
