<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="initialTbody(pageData)">
    <th:block th:each="u : ${pageData.content}">
        <tr th:replace="~{user/row :: row(u=${u})}"></tr>
    </th:block>
</th:block>

<th:block th:fragment="pager(pageData)">
    <ul class="pagination justify-content-center my-3" id="grid-pager">
        <li class="page-item" th:classappend="${!pageData.hasPrev} ? ' disabled'">
            <a class="page-link" href="#" data-page="0" aria-label="First">&laquo;</a>
        </li>
        <li class="page-item" th:classappend="${!pageData.hasPrev} ? ' disabled'">
            <a class="page-link" href="#" th:attr="data-page=${pageData.page - 1}" aria-label="Previous">&lsaquo;</a>
        </li>
        <li class="page-item"
            th:each="i : ${#numbers.sequence(0, pageData.totalPages - 1)}"
            th:classappend="${i == pageData.page} ? ' active'">
            <a class="page-link" href="#" th:attr="data-page=${i}" th:text="${i + 1}">1</a>
        </li>
        <li class="page-item" th:classappend="${!pageData.hasNext} ? ' disabled'">
            <a class="page-link" href="#" th:attr="data-page=${pageData.page + 1}" aria-label="Next">&rsaquo;</a>
        </li>
        <li class="page-item" th:classappend="${!pageData.hasNext} ? ' disabled'">
            <a class="page-link" href="#" th:attr="data-page=${pageData.totalPages - 1}" aria-label="Last">&raquo;</a>
        </li>
    </ul>
</th:block>

</body>
</html>
