<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- 레이아웃에 이 페이지의 본문(content) 프래그먼트를 주입 -->
<th:block th:replace="~{component/commonHead :: layout(~{::content})}">
    <th:block th:fragment="content">

        <script th:src="@{/js/datepicker.js}"></script>
        <!-- 페이지 전용 CSS -->
        <link rel="stylesheet" th:href="@{/css/index.css}" />
        <link rel="stylesheet" th:href="@{/css/components.css}" />
        <link rel="stylesheet" th:href="@{/css/page/page.css}" />

        <section class="section" id="grid">
            <div class="section-header">
                <div class="title-wrap">
                    <h3 class="section-title">지원한도내역조회</h3>
                </div>

                <div class="box-wrap">
                    <div class="box">
                        <p class="field-title">서비스명</p>
                        <input type="text" class="text-field" value="SV000001">
                    </div>

                    <div class="box">
                        <p class="field-title">사용여부</p>
                        <div class="dropdown" data-name="state">
                            <button type="button" class="dropdown_button" aria-haspopup="listbox" aria-expanded="false" aria-label="사용여부 드롭다운">
                                <span class="dropdown_value" data-placeholder="선택하세요">선택하세요</span>
                            </button>
                            <ul class="dropdown_list" role="listbox" tabindex="-1">
                                <li role="option" class="dropdown_option" data-value="Y">Y</li>
                                <li role="option" class="dropdown_option" data-value="N">N</li>
                            </ul>
                            <input type="hidden" name="state" value="">
                        </div>
                    </div>

                    <div class="box">
                        <p class="field-title">한도구분</p>
                        <div class="dropdown" data-name="limit">
                            <button type="button" class="dropdown_button" aria-haspopup="listbox" aria-expanded="false" aria-label="한도구분 드롭다운">
                                <span class="dropdown_value" data-placeholder="선택하세요">선택하세요</span>
                            </button>
                            <ul class="dropdown_list" role="listbox" tabindex="-1">
                                <li role="option" class="dropdown_option" data-value="amount">금액</li>
                                <li role="option" class="dropdown_option" data-value="number">건수</li>
                            </ul>
                            <input type="hidden" name="limit" value="">
                        </div>
                    </div>
                </div>

                <div class="btn-wrap">
                    <button type="button" class="btn btn-dark-line">신규 한도 설정</button>
                    <button type="button" class="btn btn-secondary btn-icon-left">다운로드 <i class="icon icon-save"></i></button>
                    <button type="button" class="btn btn-primary btn-icon-left">검색 <i class="icon icon-search"></i></button>
                </div>
            </div>

            <div class="section-content">
                <div class="title-wrap">
                    <h3 class="section-title">한도구분(금액)</h3>
                </div>

                <div class="flex justify-space-between">
                    <b>검색결과: 10건</b>
                    <button type="button" class="btn btn-primary btn-icon-left">엑셀 다운로드 <i class="icon icon-save"></i></button>
                </div>

                <div class="table-wrap mt20">
                    <table class="table">
                        <caption class="blind">지급금 신청 테이블</caption>
                        <colgroup>
                            <col width="100px"><col width="150px"><col width="200px"><col width="150px"><col width="150px">
                            <col width="300px"><col width="150px"><col width="150px"><col width="150px"><col width="150px">
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">순번</th>
                            <th scope="col">서비스 ID</th>
                            <th scope="col">교통비지원서비스</th>
                            <th scope="col">서비스유형 ID</th>
                            <th scope="col">서비스유형명</th>
                            <th scope="col">한도시작년월</th>
                            <th scope="col">최소한도값</th>
                            <th scope="col">최대한도값</th>
                            <th scope="col">사용여부</th>
                            <th scope="col">한도설정</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>SV000001</td>
                            <td>어린이/청소년 교통비 지원사업</td>
                            <td>SV000001</td>
                            <td></td>
                            <td>2024-01-02 ~ 2025-12-31</td>
                            <td>0</td>
                            <td>30,000</td>
                            <td>Y</td>
                            <td><button type="button" class="btn btn-dark-line open-modal" data-target="#modal-basic1">한도설정</button></td>
                        </tr>
                        <!-- ... -->
                        </tbody>
                    </table>
                </div>

                <div class="mt20">
                    <div class="pagination" role="navigation" aria-label="목록 페이지 이동">
                        <button type="button" class="pager-btn prev" aria-label="이전 페이지">Prev</button>
                        <div class="pager-list">
                            <button type="button" class="pager-item is-active" aria-current="page">1</button>
                            <button type="button" class="pager-item">2</button>
                            <button type="button" class="pager-item">3</button>
                            <button type="button" class="pager-item">4</button>
                            <button type="button" class="pager-item">5</button>
                        </div>
                        <button type="button" class="pager-btn next" aria-label="다음 페이지">Next</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- modal -->
        <div id="modal-basic1" class="modal" role="dialog" aria-modal="true" aria-hidden="true" aria-labelledby="modal-title-basic">
            <div class="modal-overlay" data-dismiss></div>

            <div class="modal-container" role="document" tabindex="-1">
                <header class="modal-header">
                    <h3 id="modal-title-basic" class="modal-title">한도(금액) 설정</h3>
                    <button type="button" class="modal-close" aria-label="닫기" data-dismiss></button>
                </header>

                <div class="modal-body">
                    <div class="flex align-center justify-space-between">
                        <div class="tabs" role="tablist">
                            <button class="tab is-active" role="tab" aria-selected="true" aria-controls="panel-1" id="tab-1">분기</button>
                            <button class="tab" role="tab" aria-selected="false" aria-controls="panel-2" id="tab-2">월</button>
                        </div>
                        <!-- 요청대로 행추가/행삭제 버튼 제거 -->
                    </div>

                    <div class="tab-panels">
                        <!-- 분기: 날짜도 전부 편집 가능, 금액도 인풋으로 변경 -->
                        <div class="tab-panel is-active" role="tabpanel" id="panel-1" aria-labelledby="tab-1">
                            <div class="table-wrap">
                                <table class="table" data-quarter-grid data-rows="4">
                                    <caption class="blind">지급금 신청 테이블</caption>
                                    <colgroup><col width="100px"><col width="250px"><col width="150px"></colgroup>
                                    <thead>
                                    <tr><th scope="col">순번</th><th scope="col">한도 시작, 종료 기간(분기)</th><th scope="col">한도금액(원)</th></tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="row,stat : ${#numbers.sequence(1,4)}">
                                        <td th:text="${stat.count}">1</td>
                                        <td>
                                            <th:block th:replace="~{page/commonFragment/month-pickers :: monthRange(${ 'q'+stat.count }, ${'quarters['+stat.count+'].from'}, ${'quarters['+stat.count+'].to'})}"></th:block>
                                        </td>
                                        <td>
                                            <div class="text-field" style="width: 150px">
                                                <input
                                                        type="text"
                                                        class="amount-input"
                                                        inputmode="numeric"
                                                        pattern="[0-9,]*"
                                                        th:value="${stat.count == 1 ? '10,000' : (stat.count == 2 ? '20,000' : (stat.count == 3 ? '80,000' : '10,000'))}" />
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- 월: 날짜는 readonly(달력 버튼 비활성), 금액은 모두 편집 가능 -->
                        <div class="tab-panel" role="tabpanel" id="panel-2" aria-labelledby="tab-2">
                            <div class="table-wrap">
                                <table class="table" data-month-grid data-rows="12">
                                    <caption class="blind">지급금 신청 테이블</caption>
                                    <colgroup><col width="100px"><col width="150px"><col width="150px"></colgroup>
                                    <thead>
                                    <tr><th scope="col">순번</th><th scope="col">한도 시작 기간(월)</th><th scope="col">한도금액(원)</th></tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="row,stat : ${#numbers.sequence(1,12)}">
                                        <td th:text="${stat.count}">1</td>
                                        <td>
                                            <th:block th:replace="~{page/commonFragment/month-pickers :: monthSingle(${ 'm'+stat.count }, ${'months['+stat.count+']'})}"></th:block>
                                        </td>
                                        <td>
                                            <div class="text-field" style="width: 150px">
                                                <input
                                                        type="text"
                                                        class="amount-input"
                                                        inputmode="numeric"
                                                        pattern="[0-9,]*"
                                                        th:value="${stat.count == 1 ? '10,000' : (stat.count == 2 ? '20,000' : (stat.count == 3 ? '80,000' : '10,000'))}" />
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                    <footer class="modal-footer">
                        <button type="button" class="btn btn-dark-line" data-dismiss>취소</button>
                        <button type="button" class="btn btn-blue">저장</button>
                    </footer>
                </div>
            </div>
        </div>

        <!-- === 바닐라 JS: 자동 채움 & 버튼 동기화 정책 === -->
        <script>
            (function () {
              'use strict';

              // --- 아주 최소한의 유틸 ---
              function pad2(n){ return (n < 10 ? '0' : '') + n; }
              function toYYYYMM(dashed){
                var m = /^(\d{4})-(\d{2})$/.exec(String(dashed||'').trim());
                if (!m) return '';
                var y = +m[1], mm = +m[2];
                return (y >= 1900 && mm >= 1 && mm <= 12) ? (m[1] + m[2]) : '';
              }
              function toDashed(yyyymm){
                var s = String(yyyymm||'').replace(/\D+/g,'');
                if (s.length !== 6) return '';
                var y = +s.slice(0,4), m = +s.slice(4,6);
                return (y >= 1900 && m >= 1 && m <= 12) ? (y + '-' + pad2(m)) : '';
              }

              // --- 입력값 → data-yyyymm 동기화 ---
              function syncAttrFromValue(input){
                var yyyymm = toYYYYMM(input.value);
                if (yyyymm) input.setAttribute('data-yyyymm', yyyymm);
                else input.removeAttribute('data-yyyymm');
              }

              // --- data-yyyymm → 입력값 동기화 ---
              function syncValueFromAttr(input){
                var dashed = toDashed(input.getAttribute('data-yyyymm'));
                input.value = dashed;
                // 필요하면 검증/연쇄 로직을 위해 이벤트 발생
                input.dispatchEvent(new Event('input',  { bubbles: true }));
                input.dispatchEvent(new Event('change', { bubbles: true }));
              }

              // --- 전역 리스너: 사용자가 타이핑할 때 attr 갱신 ---
              document.addEventListener('input', function(e){
                var t = e.target;
                if (t && t.classList && t.classList.contains('dp-input')) syncAttrFromValue(t);
              }, true);
              document.addEventListener('change', function(e){
                var t = e.target;
                if (t && t.classList && t.classList.contains('dp-input')) syncAttrFromValue(t);
              }, true);

              // --- MutationObserver: 개발자모드에서 data-yyyymm 수정 시 값 갱신 ---
              var mo = new MutationObserver(function(list){
                for (var i=0;i<list.length;i++){
                  var m = list[i];
                  if (m.type === 'attributes' && m.attributeName === 'data-yyyymm') {
                    var el = m.target;
                    if (el.classList && el.classList.contains('dp-input')) syncValueFromAttr(el);
                  }
                }
              });
              mo.observe(document.documentElement, { attributes:true, attributeFilter:['data-yyyymm'], subtree:true });

              // --- 초기 정렬: 값이 있으면 값→attr, 아니고 attr이 있으면 attr→값 ---
              (function init(){
                document.querySelectorAll('.dp-input').forEach(function(inp){
                  if (inp.value) syncAttrFromValue(inp);
                  else if (inp.hasAttribute('data-yyyymm')) syncValueFromAttr(inp);
                });
              })();
            })();
        </script>



        <!-- 공통 푸터 -->
        <th:block th:replace="~{component/commonFooter :: commonFooter}"></th:block>

    </th:block>
</th:block>
</html>
